.text-muted {
    color: #ff0000!important;
}
#login{
    margin: 15px 0;
}
#login .mid{
    justify-content: center;
    display: flex;
    width: 100%;
}
#login .color h2{
    font-size: 48px;
    color:rgb(31, 31, 31);
    background-color: aqua;
    width: 23%;
    border-radius: 5px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
